<!-- Hero -->
<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-heading">Vidd tu</div>
            <div class="intro-lead-in" style="text-align:left">"Per raggiungere degli obiettivi è importante metterli a fuoco da subito."</div>
            <div class="intro-lead-in" style="text-align:left">"Penso che un insegnante capace debba aiutare ogni allievo a diventare un musicista realizzato, grazie allo sviluppo di un percorso personale che rispetti le sue attitudini e le sue ambizioni."</div>
            <div class="intro-lead-in" style="text-align:left">"Mettersi nelle mani di un insegnante poco esperto o troppo concentrato su se stesso può essere la causa di frustrazione o di un rapido abbandono... magari per pochi euro di differenza a lezione!"</div>
            <a href="#lections" class="page-scroll btn btn-xl">Lezioni</a>
        </div>
    </div>
</header>
